body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table {
    width:100%;
    height:100%;
}


th {
    background-color: #284673;
    color: white;
    text-align:center;
    
}

td {
    font-size: 1.5em;
}

tr:nth-child(odd)       { background-color:#eee; }
tr:nth-child(even)  { background-color:#fff; }

tr:hover            { background-color: #ffff99;}

/*Settings for phone screen*/
@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 4em;
    }
    th {
        font-size: 2.7em;
    }
    td {
        font-size: 4em;
    }

}
